#root,
body {
  background-color: rgba(235, 232, 232, 0.767);
  height: 100%;
}

/* Safari horizontal Scroll issue */

.scrolling-element {
  overflow-x: scroll; /* Must be 'scroll' not 'auto' */
  -webkit-overflow-scrolling: touch;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Optional: show position indicator */
::-webkit-scrollbar-thumb {
  background-color: #f5b061f5;
  border-radius: 10px;
  margin-top: 50px;

  /* width: 0;  */
  /* Remove scrollbar space */
}
::-webkit-scrollbar {
  width: 6px;
  background-color: black;
  margin-top: 50px;
  border-radius: 10px;
}

.App {
  text-align: center;
  max-width: 95%;
  display: block;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}

.form-control:focus {
  border-color: rgb(211, 131, 12) !important;
  box-shadow: inset 1px 1px rgb(211, 131, 12), 0 0 8px rgb(211, 131, 12) !important;
}

.headerStyles {
  text-align: center;
  padding-top: 20px;
  border-radius: 15px !important;
}
.headerStyles .navBarContainer {
  max-width: 96%;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.navBarStyles {
  padding: 2px;
  border-radius: 18px;
  box-shadow: 5px 10px 16px #c2bdbdd2;
  color: #000;
  /* margin: 20px 2.5% !important; */
}

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(211, 131, 12) !important;
  transform: scale(1.1);
  font-size: 16px;
}

.nav {
  justify-content: space-evenly;
}

/* ContactUs Tabs */

.ContactTabStyle {
  margin: 35px;
}

.contactUsBody {
  min-height: 100vh;
  margin-top: 30px;
}

.empContactUsCard {
  padding: 40px;
  border-radius: 18px;
  border-color: #1f1131;
  /* background-color: #dee0e233; */
  background-color: rgba(255, 255, 255, 0.911);
  color: #331758;
  min-height: 410px;
  text-align: left !important;
}

/* overriding button styles on (selected) tabs */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: rgb(211, 131, 12) !important;
  border-radius: 10px !important;
  width: 330px !important;
  height: 65px !important;
  font-size: 24px;
  margin: 5px;
}
/* overriding button styles on tabs */
.contactUsBody .nav-link {
  /* width: 250px !important;
  height: 50px !important;
  color: rgb(211, 131, 12) !important; */
  color: #fff !important;
  background-color: rgba(207, 144, 48, 0.39) !important;
  border-radius: 10px !important;
  width: 330px !important;
  height: 65px !important;
  font-size: 24px;
  margin: 5px;
}

.formParent {
  text-align: left;
}

.carouselStyles {
  background-color: #c2bdbdd2;
}

.cardStyles {
  padding: 40px;
  border-radius: 18px;
  /* background-color: #dee0e233; */
  background-color: rgba(255, 255, 255, 0.911);
  color: #000;
  min-height: 410px;
  text-align: left !important;
}

.modal-content {
  background-color: antiquewhite !important;
  color: #000;
  border-color: antiquewhite;
  border-radius: 18px !important;
}

.cardStyles:hover {
  box-shadow: 4px 10px 14px rgba(245, 184, 93, 0.521);
}

.empContactUsCard:hover {
  box-shadow: 4px 10px 14px #96949767;
}

.Illustration {
  display: block;
  margin: auto;
  padding: 5px;
}

.fullWidthHomeCard {
  max-width: 100%;
  color: #000;
  width: 100%;
  margin-top: 55px;
  background-color: rgb(255, 255, 255);
  /* background-image: linear-gradient(orange, yellow); */
}

.fullWidthContactCard {
  max-width: 100%;
  width: 100%;
}

.carousel-caption {
  position: initial !important;
  color: #000 !important;
}

.carousel-inner img {
  margin: auto;
}

.buttonWrapperCarousel {
  width: 95%;
  text-align: right;
}

.cardOneOfTwo {
  max-width: 50%;
  width: 50%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(206, 231, 160);
}
.cardTwoOfTwo {
  max-width: 50%;
  width: 50%;
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parentOfTwoCards,
.parentOfOneCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* flex-wrap: wrap; */
}

.CardImages {
  max-width: 300px;
  max-height: 350px;
  display: block;
}

.cardHeading {
  width: 100%;
}

.linkButton {
  font-size: 12px;
  margin: 5px;
}

.buttonGroup {
  width: 100%;
  margin: 15px;
  text-align: right;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.faqBody {
  margin-top: 30px;
  min-height: 100vh;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: transparent !important;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0rem rgba(211, 131, 12, 0.363) !important;
  border-radius: 10px !important;
}

.accordion-item,
.accordion-button {
  background-color: transparent !important;
}

.workshopsBody {
  padding-bottom: 50px;
}

.fourCardRow {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fourCardStyle {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 18px;
  width: 320px;
  background-color: rgba(255, 255, 255, 0.911);
  color: #000;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fourCardStyle:hover {
  box-shadow: 4px 10px 14px rgba(245, 184, 93, 0.521);
}

.subsCardHeading {
  padding: 10px;
}

.recruiterBody {
  min-height: 100vh;
}

.recruiterBody .cardStylesRecruiter {
  background-color: #331758;
  color: rgb(221, 187, 34) !important;
}

.cardStylesRecruiter {
  padding: 40px;
  border: 1px solid rgb(221, 187, 34);
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.911);
  min-height: 400px;
  text-align: left !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerImage {
  width: 100%;
  background-size: contain;
  text-align: center;
  max-height: 350px;
}

.fullWidthFaqCard {
  background-color: transparent;
  min-height: none;
}

.fullWidthFaqCard:hover {
  box-shadow: none;
}

/* overriding button styles on tabs */
.faqBody .nav-link {
  color: #fff !important;
  background-color: rgba(207, 144, 48, 0.39) !important;
  border-radius: 10px !important;
  width: 330px !important;
  height: 65px !important;
  font-size: 24px;
  margin: 5px;
}

.fullWidth-image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainCarousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.headerStyles .bg-light {
  background-color: rgb(235, 232, 232) !important;
}

.footerCardStyles {
  padding: 5% 12%;
  border-radius: 18px;
  max-width: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  min-height: 410px;
  text-align: left !important;
  margin-bottom: 20px;
}

.footerCardStyles .list-group-item {
  color: white;
  background-color: black;
}

.footerLinks {
  display: flex;
  font-size: x-small;
  justify-content: center;
}

.footerLinks .footerLinksFirstItem {
  font-size: small;
}

.footerCardStyles .input-group > .form-control,
.input-group > .form-select {
  background-color: black;
  max-width: 300px;
}
.footerCardStyles .input-group-text {
  background-color: black;
  color: white;
}
.footerCardStyles ul li {
  display: inline;
  padding-right: 15px;
}

.footerCardStyles ul {
  padding-left: 2px;
  font-size: small;
}

.footerCardStyles ul li :hover {
  transform: scale(1.2);
}
